---
portfolio_selected_class: selected
title: C42 Engineering | portfolio
---

<div id="portfolio">
  <% data.projects.each do |project| %>
    <div class="project">
      <div class="name highlight">
	<%= project.name %>
      </div>
      <% if project.image %>
	<div class="thumbnail">
	  <a href="<%= project.company_url %>">
	    <%= image_tag project.image, :alt => project.company %>
	  </a>
	</div>
      <% end %>
      <div class="keywords highlight">
	Keywords:
	<ul>
	  <% project.keywords.each do |kw| %>
	    <li><%= kw %></li>
	  <% end %>
	</ul>
      </div>
      <div class="locations highlight">
	Locations:
	<ul>
	  <% project.locations.each do |location| %>
	    <li><%= location %></li>
	  <% end %>
	</ul>
      </div>
      <% if project.quote %>
	<div class="quote">
	  <div class="highlight">Customer Quote</div>
	  <blockquote><%= project.quote.large %></blockquote>
	  <p>
	    <%= project.quote.author %>, <%= project.quote.title %>,
	    <%= link_to project.company, project.company_url %>
	  </p>
	</div>
      <% end %>
      <div class="description">
	<div class="highlight">Project Description</div>
	<% project.description.each do |desc| %>
	  <p><%= desc %></p>
	<% end %>
      </div>
    </div>
  <% end %>
</div>
